body{
    text-align: center;
}

.court-img{
    margin-top: 1em;
}
.row{
    justify-content: center;
}

h4{
    color: black;
}

.review-button{
    margin-top: 1em;
}

Comment{
    margin-bottom: 1em;
}

.court-card{
    margin-left: auto;
    margin-right: auto;
}

.back-button{
    width: auto;
    margin-bottom: 2em;
}